
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #FFD312;
  height: 9%;
}

.main-nav a {
  text-decoration: none;
  margin: 2%;
  color: white;
}
.main-nav i {
  display: flex;
  justify-content: center;
  color: #282c34;
  font-size: 4rem;
}
.main-nav a li {
  list-style: none;
  color: #282c34;
  transition: color 0.5s ease-in-out;
  font-size: 2rem;
}

.home {
  text-align: center;
  font-style: italic;
  background-image: url('https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?w=2548&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.home__header {
  background-color: #ffffff;
  padding: 3%;
  opacity: 0.8;
}

.main-heading {
  font-size: 4rem;
  left: 0;
  position: relative;
  text-align: center;
  font-style: normal;
  width: 100%;
  color: #282c34;
}

.main-heading p {

}

.about {
  display: flex;
  height: 100vh;
}

.about__text {
  max-width: 70%;
  font-size: 6vmin;
  font-family: 'Roboto', sans-serif;
  color: #282c34;
  margin: 10%;
  max-height: 100vh;
}
.about__images {
  display: flex;
  min-width: 30%;
  background-color: #f7c62d;
  opacity: 20%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
  box-sizing: border-box;
}
.about__images i{
  font-size: 8rem;
  color: #282c34;
}

.contact {
  background-color:#f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.contact h2 {
  font-size: 3rem;
  color: #282c34;
  padding-left: 10%;
  padding-top: 10%;
  color: #f7c62d;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top:50px;
  border: 1px solid #f7c62d;
  background-color: #ffffff;
}

input {
  border: 1px solid #f7c62d;
  width: 200px;
  margin-bottom: 2em;
  background-color: #ffffff;
}
input[type='submit']{
  background-color: #f7c62d;
}
.contact__form__message {

  border: 1px solid #f7c62d;
  resize: none;
  height: 300px;
  width: 200px;
  margin-bottom: 15px;
}
.contact__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7c62d;
  background-color: #ffffff;
  overflow:visible;
}

@media (min-device-width: 769px) and (min-width: 769px){
  .about__text {
    min-width: 100%;
    height: 70%;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
  .about {
    flex-wrap: wrap;
  }

  .about__images {
    width: 100%;
    height: 30%;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 550px){
  .contact {
    font-size: 16px;;
  }
  .main-nav i {
    font-size: 2rem;
  }
  .main-nav a li {
    font-size: 1rem;
  }
}
@media (min-width: 765px){
  .contact{
    font-size: 22px;
  }

.container {
  display: flex;
  justify-content: center;
}
form {
  width: 40%;
  border: 2px solid #f7c62d;
}

form input {
  width: 250px;
  height: 30px;
}

form input::-webkit-input-placeholder  {
  font-size: 16px;
}

.contact__form__message {
  font-size: 16px;
  width: 250px;
  margin-bottom: 15px;
}

.contact__details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid #f7c62d;
  margin-left: 15px;
}


.details tr td {
  padding: 10px;
  }

.team {
  padding-top: 25vh;
  padding-bottom: 20vh;
}

.team section {
  max-height: 50vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team section p {
  width: 50%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

.team section div {
  width: 50%;
}
.team section img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
 }


 @media (min-device-width: 769px) and (min-width: 769px){
   .about__text {
     min-width: 100%;
     height: 70%;
     margin: 0;
     display: flex;
     align-items: center;
     padding-left: 10%;
     padding-right: 10%;
     box-sizing: border-box;
   }

   .about {
     flex-wrap: wrap;
   }

   .about__images {
     width: 100%;
     height: 30%;
     padding: 0;
     flex-direction: row;
     justify-content: space-around;
   }

   .team {
     padding-top: 10vh;
   }

      .team section {
        max-height: 50vh;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .team section p {
        width: 50%;
        flex-direction: column;
        text-align: center;
      }

      .team section div {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .team section img {
        height: 250px;
        padding-top: 10px;
        width: auto;
       }

 }
